// Style Code Here..
.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:0.980rem;
    width:fit-content;
    text-align:center;
    padding:1rem;
    background-color:white;
    box-shadow: 1px 1px 10px rgba(80, 80, 80, 0.131);
    .box__content{
        text-align: center;
    }
    .card__img{
        img{
            width:300px;
            border-radius: 50%;
        }  
    } 
    .card__heading{
        margin-top:0.900rem;
    }
    .card__text{
        margin-top:0.800rem;
        letter-spacing:1px;
        // font-size:15px;
    }
    .m_social{
        text-align: center;
        margin-top:1.5rem;
        .heading{
           letter-spacing: 1px; 
        }
        .box_contact{
            display:flex;
            column-gap:1rem;
            list-style: none;
            justify-content:center;
        }
        i{
            margin-top:1rem;
            text-align: center;
            font-size:1.9rem;
            margin-bottom: 0.900rem;
        }
        a{
            color:black;
        }
    }
    .btn_content{
    margin-top:1.5rem;
    .box_btn{
            display:flex;
            justify-content:center;
            align-items: center;
            column-gap:2rem;
            button{
                padding:5px;
                width:150px;
                border:1px solid rgb(145, 123, 242);
                background-color:rgb(145, 123, 242);
                border-radius: 0.300rem;
            }
            a{
                color:white;
            }
        }
    }
}

// Media Query
@media (max-width:1149px){
    .container{
        .card__img{
            img{
                width:200px;
                border-radius: 50%;
            }  
        } 
    }
}
@media (max-width:820px){
    .container{
        .card__heading{
            margin-top:0.900rem;
        }
        .card__text{
            font-size:0.900rem;
            margin-top:0.800rem;
            letter-spacing:1px;
            // font-size:15px;
        }
    }
}
@media (max-width:500px){
    .container{
            .card__img{
                img{
                    width:150px;
                    border-radius: 50%;
                }  
            } 
            .card__heading{
                margin-top:0.900rem;
            }
            .card__text{
                font-size:0.800rem;
                margin-top:0.800rem;
                letter-spacing:1px;
                // font-size:15px;
            }
        }
        .m_social{
            .box_contact{
                i{
                    margin-top:1rem;
                    text-align: center;
                    font-size:1.5rem;
                    margin-bottom: 0.900rem;
                }
            }
        }
}
@media (max-width:450px){
    .container{
            .card__img{
                img{
                    width:130px;
                    border-radius: 50%;
                }  
            } 
            .card__heading{
                margin-top:0.700rem;
            }
            .card__text{
                font-size:0.700rem;
                margin-top:0.800rem;
                letter-spacing:1px;
                // font-size:15px;
            }
        }
        .m_social{
            .box_contact{
                i{
                    margin-top:1rem;
                    text-align: center;
                    font-size:1rem;
                    margin-bottom: 0.900rem;
                }
            }
        }
}
// Import The Libary
@import 'libary';